.content {
  margin: 1rem 0rem 0rem 0rem;
  border-radius: 1rem;
  padding: 0.5rem;
  background: #69c8ff;
}
.everyComment {
  color: black;
  border-bottom: solid;
  border-radius: 1rem;
  border-color: rgba(24, 184, 58, 0.5);
  font-size: 0.7rem;
  padding: 0.2rem 0rem 0rem 1rem;
}
.comments {
  display: flex;
  flex-direction: column;
}
.txtArea {
}
.commentBtn {
  color: blue;
}
